<page-content-title title="Purchase Detail">
    <a class="btn btn-default" href="#/purchases"> Back to list</a>
</page-content-title>
<panel type="plain">
    <div class="row">
        <div class="box-info">
            <div class="row" style="margin: 20px 0 0 18px">
                <div class="pull-right">
                    <p class="text-right"><strong>{{purchase.Created | outputFormatDateTime }}</strong></p>
                </div>
                <div class="pull-left">
                    <a class="btn btn-danger btn-sm" data-ng-click="removePurchase(purchase)"><i
                            class="fa fa-trash-o"></i>
                        {{'Remove' |
                        translate}}</a>
                    <a href="#/purchases" class="btn btn-primary btn-sm"> {{'Back' | translate}}</a>
                </div>
            </div>
            <div style="margin: 20px 0 0 18px">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{'Supplier' | translate}}:</label>
                            {{purchase.Supplier.Name}}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">{{'Date' | translate}}:</label>
                            {{purchase.Date | date:'MMM d, yyyy'}}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">{{'Expected Arrival' | translate}}:</label>
                            {{purchase.ExpectedArrival | date:'MMM d, yyyy'}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">{{'Order Number' |
                                translate}}:</label>
                            {{purchase.OrderNumber}}

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">{{'Reference' |
                                translate}}:</label>
                            {{purchase.Reference}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{'Currency' | translate}}:</label>
                            {{purchase.Currency}}
                        </div>
                    </div>
                </div>
                <br/>
                <br/>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 5%">No.</th>
                            <th style="width: 20%">Item</th>
                            <th style="width: 30%">Description</th>
                            <th style="width: 5%">Qty</th>
                            <th style="width: 15%">Unit Price</th>
                            <th style="width: 10%">Disc %</th>
                            <th style="width: 10%">Amount USD</th>
                            <th style="width: 5%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="item in purchase.products">
                            <td>{{$last ? '*' : $index + 1}}</td>
                            <td>{{item.Product.Name}} </td>
                            <td>{{item.Description}}</td>
                            <td>{{item.QuantitySolicited}}</td>
                            <td>{{item.Price}}</td>
                            <td>{{item.DiscountPrice}}</td>
                            <td>{{getAmount(item) | currency: 'USD'}}</td>
                            <td>
                                <button type="button" class="btn btn-danger fa fa-trash-o"
                                        data-ng-click="removeProduct(item)" data-ng-show="!$last"></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <button class="btn btn-default" data-ng-click="addProduct($index)">{{'Add' |
                                    translate}}
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="no-border"></td>
                            <td>Subtoal</td>
                            <td colspan="2">{{total | currency: 'USD'}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="no-border"></td>
                            <td>Tax (%)</td>
                            <td colspan="2">{{Tax}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="no-border"></td>
                            <td><b>Total</b></td>
                            <td colspan="2">{{getTotal() | currency: 'USD'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End div .table-responsive -->

                <br/>
                <br/>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" style="padding-left: 20px">
                            <p>{{purchase.Supplier.Name}}
                                <br/>
                                {{locationSupplier.Address}}
                                <br/>
                                {{locationSupplier.City}}, {{locationSupplier.Zipcode}}
                                <br/>
                                {{locationSupplier.Country.Name}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">{{'Delivery Instruction' | translate}}:</label>
                                {{purchase.DeliveryInstruction}}

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</panel>
