<page-content-title title="Create/Update Purchase"></page-content-title>
<panel type="plain">
        <form role="form" name="form" class="form-horizontal group-border">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="supplier" class="col-md-12 control-label" >{{'Supplier' | translate}}:</label>
                        <div class="col-md-12">
                            <input id="supplier" name="supplier" data-ng-model="purchase.Supplier" autocomplete="off"
                                   data-typeahead="supplier as supplier.Name for supplier in searchSuppliers($viewValue)"
                                   data-typeahead-min-length="3" data-typeahead-on-select=updateAddress(purchase.Supplier)
                                   type="text" class="form-control" validator="required">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-12 control-label">{{'Date' | translate}}:</label>
                        <div class="col-md-12">
                            <date-time-picker id="date" name="date" class="col-md-12" data-ng-model="purchase.Date" data-format="date" validator="required"></date-time-picker>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-12 control-label">{{'Date Delivery' | translate}}:</label>
                        <div class="col-md-12">
                            <date-time-picker id="deliveryDate" name="deliveryDate" class="col-md-12" data-ng-model="purchase.DeliveryDate" data-format="date" ></date-time-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="orderNumber">{{'Order Number' | translate}}:</label>
                        <div class="col-md-12">
                            <input id="orderNumber" name="orderNumber" data-ng-model="purchase.OrderNumber" type="text" class="form-control" validator="required,number" >
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="referenceNumber">{{'Reference' | translate}}:</label>
                        <div class="col-md-12">
                            <input id="referenceNumber" name="referenceNumber" data-ng-model="purchase.Reference" type="text" class="form-control" validator="required,number" >
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="currency">{{'Currency' | translate}}:</label>
                        <div class="col-md-12">
                            <select class="form-control" id="currency" name="currency" data-ng-model="purchase.Currency"
                                    data-ng-options="currency.value as currency.description for currency in currencies"
                                    validator="required">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width: 5%">No.</th>
                        <th style="width: 20%">Item</th>
                        <th style="width: 30%">Description</th>
                        <th style="width: 5%">Qty</th>
                        <th style="width: 15%">Unit Price</th>
                        <th style="width: 10%">Disc %</th>
                        <th style="width: 10%">Amount USD</th>
                        <th style="width: 5%"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in purchase.products">
                            <td>{{$last ? '*' : $index + 1}}</td>
                            <td><input data-ng-model="item.Product.Name"
                                       autocomplete="off"
                                       data-typeahead="product as product.Name for product in searchProducts($viewValue)"
                                       data-typeahead-min-length="3"
                                       data-typeahead-on-select="addItem($item, $index)"
                                       type="text"/>
                            </td>
                            <td><input type="text" data-ng-model="item.Description"/></td>
                            <td><input type="text" data-ng-model="item.QuantitySolicited"/></td>
                            <td><input type="text" data-ng-model="item.Price"/></td>
                            <td><input type="text" data-ng-model="item.DiscountPrice"/></td>
                            <td>{{getAmount(item) | currency: 'USD'}}</td>
                            <td><button type="button" class="btn btn-danger fa fa-trash-o" data-ng-click="removeProduct(item)" data-ng-show="!$last"></button></td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <button class="btn btn-default" data-ng-click="addProduct($index)">{{'Add' | translate}}</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="no-border"></td>
                            <td>Subtoal</td>
                            <td colspan="2">{{total | currency: 'USD'}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="no-border"></td>
                            <td>Tax (%)</td>
                            <td colspan="2"><input type="text" data-ng-model="purchase.TotalTax"/></td>
                        </tr>
                        <tr>
                            <td colspan="5" class="no-border"></td>
                            <td><b>Total</b></td>
                            <td colspan="2">{{getTotal() | currency: 'USD'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- End div .table-responsive -->

            <br/>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="padding-left: 20px">
                        <p>{{purchase.Supplier.Name}}
                            <br/>
                            {{locationSupplier.Address}}
                            <br/>
                            {{locationSupplier.City}}, {{locationSupplier.Zipcode}}
                            <br/>
                            {{locationSupplier.Country.Name}}
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-12 control-label" for="deliveryInstruction">{{'Delivery Instruction' | translate}}:</label>
                            <div class="col-md-12">
                                <textarea  id="deliveryInstruction" name="deliveryInstruction" data-ng-model="purchase.DeliveryInstruction" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row modal-footer" style="border-top:0px;">
                <div class="row col-md-4 pull-right">
                    <a class="btn btn-primary" href="#/purchases">{{'Cancel' | translate}}</a>
                    <button class="btn btn-success ng-binding" data-ng-click="save(form)">{{'Save' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</panel>