<!-- Page header -->
<div class="page-heading animated fadeInDownBig">
    <h1>Invoice Detail</h1>
</div>
<div class="row">
    <div class="box-info">
        <p class="text-right"><strong>{{invoice.Created | outputFormatDateTime }}</strong></p>

        <div>
            <table class="table">
                <tbody>
                <tr>
                    <td colspan="4">
                        <a class="btn btn-danger btn-sm" ng-show="invoice.Status=='draft'" data-ng-click="removeInvoice(invoice)"><i
                                class="fa fa-trash-o"></i> {{'Remove' | translate}}</a>
                        <a href="#/sales/index" class="btn btn-primary btn-sm"> {{'Back' | translate}}</a>
                    </td>
                </tr>
                <tr>
                    <td width="10px"><strong>Bill to:</strong></td>
                    <td>
                        <p><strong>{{invoice.Customer.Name}}</strong>
                            <br/>
                            {{invoice.Customer.Address}}
                            <br/>
                            {{invoice.Customer.City}}, {{invoice.Customer.Zipcode}}
                            <br/>
                            P: {{invoice.Customer.Phone}}
                            <br/>
                            Email: {{invoice.Customer.Email}}
                        </p></td>

                    <td width="10px"><strong>Ship to:</strong></td>
                    <td>
                        <p><strong>{{invoice.CustomerShipping.Name}}</strong>
                            <br/>
                            {{invoice.CustomerShipping.Address}}
                            <br/>
                            {{invoice.CustomerShipping.City}}, {{invoice.CustomerShipping.Zipcode}}
                            <br/>
                            P: {{invoice.CustomerShipping.Phone}}
                            <br/>
                            Email: {{invoice.CustomerShipping.Email}}
                        </p></td>
                </tr>
                <tr>
                    <td><strong>Date:</strong></td>
                    <td>{{invoice.Date | date:'MMM d, yyyy'}}</td>
                    <td><strong>Due Date:</strong></td>
                    <td>{{invoice.DeliveryDate | date:'MMM d, yyyy'}}</td>
                </tr>
                <tr>
                    <td><strong>Invoice Number:</strong></td>
                    <td>INV-{{invoice.OrderNumber}}</td>
                    <td><strong>Currency:</strong></td>
                    <td>{{invoice.Currency.value}}</td>
                </tr>
                <tr>
                    <td><strong>Reference:</strong></td>
                    <td colspan="3">{{invoice.ReferenceNumber}}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="table-responsive" ng-show="invoice.items.length > 0">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 20%">Item</th>
                                    <th style="width: 30%">Description</th>
                                    <th style="width: 8%">Qty</th>
                                    <th style="width: 10%">Unit Price</th>
                                    <th style="width: 10%">Disc %</th>
                                    <th style="width: 15%">Amount USD</th>
                                    <th style="width: 5%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="item in invoice.items">
                                    <td style="cursor:pointer;">
                                        {{item.Product.Name}}
                                    </td>
                                    <td style="cursor:pointer;">
                                        {{item.Product.Description}}
                                    </td>
                                    <td style="cursor:pointer;">
                                        {{item.Quantity}}
                                    </td>
                                    <td style="cursor:pointer;">
                                        {{item.Product.Price}}
                                    </td>
                                    <td style="cursor:pointer;">
                                        {{item.Name}}
                                    </td>
                                    <td style="cursor:pointer;">
                                        {{item.Product.Quantity*item.Product.Price | currency: 'USD'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="no-border"></td>
                                    <td>Subtotal</td>
                                    <td colspan="2">{{invoice.subTotal | currency: 'USD'}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="no-border"></td>
                                    <td>Tax (%)</td>
                                    <td colspan="2">{{invoice.totalTax| currency: 'USD'}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="no-border"></td>
                                    <td><b>Total</b></td>
                                    <td colspan="2">{{invoice.amount| currency: 'USD'}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><strong>Delivery Instruction:</strong></td>
                    <td colspan="3">{{invoice.DeliveryInstruction}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>