<div class="moduleContainer wizard" data-ng-controller="InvoiceFormController">
<form role="form" id="form_invoice">
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="customer" class="col-md-12 control-label">{{'To' | translate}}</label>
            <div class="col-md-12">
                <input id="customer" data-ng-model="invoice.Customer" autocomplete="off"
                       data-typeahead="customer as customer.Name for customer in searchCustomers($viewValue)"
                       data-typeahead-min-length="3" type="text" class="form-control"
                       >
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CustomerShipping" class="col-md-12 control-label">{{'Ship To' | translate}}</label>
            <div class="col-md-12">
                <input id="CustomerShipping" data-ng-model="invoice.CustomerShipping" autocomplete="off"
                       data-typeahead="customer as customer.Name for customer in searchCustomers($viewValue)"
                       data-typeahead-min-length="3" type="text" class="form-control "
                       validator="required">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        &nbsp;
    </div>
    <div class="col-md-6">
        <div style="margin-left: 13px" ng-if="visible">
            <input id="CheckboxShipping" type="checkbox" ng-change="BillShip()" data-ng-model="invoice.BillShip" name="locked" value="1">
            <label for="customer" style="margin-left: 10px" class="control-label">{{'Same As Billing Address' | translate}}</label>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div style="background-color: #E5E9EC; margin: 10px 0 0 15px" ng-show="invoice.Customer.Id">
            <p><strong>{{invoice.Customer.Name}}</strong>
                <br/>
                {{invoice.Customer.Address}}
                <br/>
                {{invoice.Customer.City}}, {{invoice.Customer.Zipcode}}
                <br/>
                P: {{invoice.Customer.Phone}}
                <br/>
                Email: {{invoice.Customer.Email}}
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div style="background-color: #E5E9EC; margin: 10px 0 0 15px" ng-show="invoice.CustomerShipping.Id">
            <p><strong>{{invoice.CustomerShipping.Name}}</strong>
                <br/>
                {{invoice.CustomerShipping.Address}}
                <br/>
                {{invoice.CustomerShipping.City}}, {{invoice.CustomerShipping.Zipcode}}
                <br/>
                P: {{invoice.CustomerShipping.Phone}}
                <br/>
                Email: {{invoice.customer.Email}}
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-12 control-label">{{'Date' | translate}}</label>
            <div class="col-md-12">
                <date-time-picker ng-if="visible" class="col-md-12" data-ng-model="invoice.Date"
                                  data-format="date" data-max-date="now"></date-time-picker>
                <input value="{{invoice.Date | outputFormatDate }}" output-format-date ng-if="!visible" readonly type="text"
                       class="form-control"/>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-12 control-label">{{'Due Date' | translate}}</label>
            <div class="col-md-12">
                <date-time-picker ng-if="visible" class="col-md-12" data-ng-model="invoice.DeliveryDate"
                                  data-format="date"></date-time-picker>
                <input value="{{invoice.DeliveryDate | outputFormatDate }}" ng-if="!visible" readonly type="text"
                       class="form-control"/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-12 control-label" for="Currency">{{'Currency' | translate}}</label>
            <div class="col-md-12">
                <select class="form-control" id="Currency" data-ng-model="invoice.Currency"
                        data-ng-options="currency.value as currency.description for currency in currencies"
                        validator="required"></select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-12 control-label">{{'Invoice Number' | translate}}</label>
            <div class="col-md-12">
                <input data-ng-model="invoice.OrderNumber" readonly type="text" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-12 control-label" for="ReferenceNumber">{{'Reference' | translate}}</label>

            <div class="col-md-12">
                <input data-ng-model="invoice.ReferenceNumber" id="ReferenceNumber" type="text"
                       class="form-control" validator="number">
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-  col-xs-6 col-xs-offset-3">
            <div class="input-group">
                <input id="item" data-ng-model="item_input"
                       autocomplete="off"
                       data-typeahead="product as product.Name for product in searchProducts($viewValue)"
                       data-typeahead-min-length="3"
                       data-typeahead-on-select="addItem($item)"
                       placeholder="{{'Search...' | translate}}"
                       type="text" class="form-control" />
                    <span class="input-group-btn">
                        <button title="{{'Reset' || translate}}" class="btn btn-default" data-ng-disabled="search.keyword.length == 0" type="button" data-ng-click="reset()"><span class="glyphicon glyphicon-remove"></span></button>
                        <button title="{{'Search' || translate}}" class="btn btn-default" type="button" data-ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
            </div>
    </div>
</div>
<br/>
<br/>

<div class="table-responsive" ng-show="invoice.InvoiceProducts.length > 0" ng-load="updateSubTotal()">

    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width: 20%">Item</th>
            <th style="width: 30%">Description</th>
            <th style="width: 10%">Qty</th>
            <th style="width: 10%">Unit Price</th>
            <th style="width: 10%">Disc %</th>
            <th style="width: 15%">Amount USD</th>
            <th style="width: 5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in invoice.InvoiceProducts">
            <td style="cursor:pointer;">
                {{item.Product.Name}}
            </td>
            <td style="cursor:pointer;">
                {{item.Product.Description}}
            </td>
            <td style="cursor:pointer;">
                <div class="row">
                    <div class="form-group">

                        <input data-ng-model="item.Quantity"
                               data-ng-if="invoice.Status=='paid' || invoice.Status=='void' || invoice.Status=='completed'"
                               disabled="disabled"
                               type="text"
                               class="form-control" style="padding-right: 0px !important; width: 70px">
                        <input data-ng-model="item.Quantity" data-quantity="{{item.QuantitySave}}" data-stock="{{item.Product.Stock}}"
                               data-ng-if="invoice.Status=='draft'"
                               type="text"
                               class="form-control" style="padding-right: 0px !important;; width: 70px" validator="required,number">
                        <!--Agregar validacion checkQuantity-->
                    </div>
                </div>
            </td>
            <td style="cursor:pointer;">
               {{item.Product.Price}}
            </td>
            <td style="cursor:pointer;">
                {{item.Name}}
            </td>
            <td style="cursor:pointer;">
                {{item.Quantity * item.Product.Price | currency: 'USD'}}
            </td>
            <td>
                <button type="button"
                        ng-disabled="invoice.Status=='paid' || invoice.Status=='void' || invoice.Status=='completed'"
                        class="btn btn-danger fa fa-trash-o" data-ng-click="removeItem(item)"></button>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="no-border"></td>
            <td>Subtotal</td>
            <td colspan="2">{{subtotal| currency: 'USD'}}</td>
        </tr>
        <tr>
            <td colspan="4" class="no-border"></td>
            <td>Tax ({{tax}}%)</td>
            <td>Tax ({{tax}}%)</td>
            <td colspan="2">{{total_tax | currency: 'USD'}}</td>
        </tr>
        <tr>
            <td colspan="4" class="no-border"></td>
            <td><b>Total</b></td>
            <td colspan="2">{{total_amount | currency: 'USD'}}</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- End div .table-responsive -->
<br/>
<br/>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-12 control-label" for="DeliveryInstruction">{{'Delivery Instruction' |
                translate}}:</label>

            <div class="col-md-12">
                <textarea data-ng-model="invoice.DeliveryInstruction" id="DeliveryInstruction"
                          class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="row modal-footer" style="border-top:0px;">
    <div class="row col-md-6 pull-right">
        <button class="btn btn-primary ng-binding" data-ng-click="$close()">{{'Cancel' | translate}}</button>
        <!--  <button class="btn btn-success ng-binding" data-ng-click="save()">{{'Save' | translate}}</button> -->
        <button class="btn btn-success ng-binding"
                ng-disabled="invoice.Status=='completed' || invoice.Status=='paid' || invoice.Status=='void'"
                data-ng-click="save('draft')">{{flag_status.draft | translate}}
        </button>
        <button class="btn btn-success ng-binding"
                ng-disabled="invoice.Status=='paid' || invoice.Status=='void' || invoice.Status=='completed'"
                data-ng-click="save('completed')">{{flag_status.completed | translate}}
        </button>
        <button class="btn btn-success ng-binding"
                ng-disabled="invoice.Status=='void' || invoice.Status=='paid'" data-ng-click="save('paid')">
            {{flag_status.paid | translate}}
        </button>
        <button class="btn btn-success ng-binding" ng-disabled="invoice.Status=='void'"
                data-ng-click="save('void')">{{flag_status.void| translate}}
        </button>
    </div>
</div>

</form>
</div>
