<div class="scroll-user-widget">
    <div class="row">
        <div class="col-md-12">
            <div class="box-info">
                <div class="row" data-ng-controller="InvoiceListPaidController">
                    <div class="col-md-12">
                        <button class="btn btn-success" data-ng-click="copyto(checkboxes.InvoiceProducts)"><i class="fa fa-copy"></i> COPY TO</button>
                        <button class="btn btn-warning" data-ng-click="sendMailPdf(checkboxes.InvoiceProducts)"><i class="fa fa-send"></i> EMAIL</button>
                        <button class="btn btn-default" data-ng-click="print(checkboxes.InvoiceProducts)"><i class="fa fa-print"></i> PRINT</button>
                        <button class="btn btn-dropbox" data-ng-click="pdf(checkboxes.InvoiceProducts)"><i class="fa fa-file-pdf-o"></i> PDF</button>
                    </div>
                    <div style="margin-top: 65px" >
                        <div>
                            <!-- Toolbar message -->
                            <div class="data-table-toolbar">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input type="text" data-ng-model="$parent.searchInvoice" class="form-control" placeholder="Search ..."/>
                                    </div>
                                    <div class="col-sm-4">
                                        <a data-toggle="tooltip" title="Refresh" class="btn btn-default" data-ng-click="$parent.refresh()"><i
                                                class="fa fa-refresh"></i></a>
                                    </div>
                                    <!-- End div .col-sm-3 -->
                                </div>
                                <!-- End div .row -->
                            </div>
                            <!-- End div .data-table-toolbar -->
                            <!-- End toolbar message -->

                            <div class="panel-body">
                                <div data-ng-if="total.count==0">{{'No Invoices Available.' | translate}}</div>
                            </div>

                            <div class="the-box default margin-bottom">
                                <div class="table-responsive table-hover">
                                    <table ng-table="invoiceTable" class="table table-hover table-message" template-pagination="custom/pager">
                                        <col width="5%"/>
                                        <col width="10%"/>
                                        <col width="10%"/>
                                        <col width="15%"/>
                                        <col width="15%"/>
                                        <col width="10%"/>
                                        <col width="15%"/>
                                        <tr class="items" data-ng-repeat="invoice in $data">
                                            <td>
                                                <input data-status="{{ checkboxes.InvoiceProducts[invoice.Id]['Status']=invoice.Status}}" type="checkbox" ng-model="checkboxes.InvoiceProducts[invoice.Id]['checked']" />
                                            </td>
                                            <td data-title="'Order Number'" sortable="'orderNumber'" style="cursor:pointer;"
                                                data-ng-click="viewInvoice(invoice)">
                                                INV-{{invoice.OrderNumber}}
                                            </td>
                                            <td data-title="'Reference Number'" sortable="'referenceNumber'" style="cursor:pointer;"
                                                data-ng-click="viewInvoice(invoice)">
                                                {{invoice.ReferenceNumber}}
                                            </td>
                                            <td data-title="'Date'" sortable="'date'" style="cursor:pointer;"
                                                data-ng-click="viewInvoice(invoice)">
                                                {{invoice.Date | date:'MMM d, yyyy'}}
                                            </td>
                                            <td data-title="'Delivery Date'" sortable="'deliveryDate'" style="cursor:pointer;"
                                                data-ng-click="viewInvoice(invoice)">
                                                {{invoice.DeliveryDate | date:'MMM d, yyyy'}}
                                            </td>
                                            <td data-title="'Amount'" sortable="'amount'" style="cursor:pointer;"
                                                data-ng-click="viewInvoice(invoice)">
                                                {{invoice.Amount| currency: 'USD'}}
                                            </td>
                                            <td data-title="'Action'">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default fa fa-edit"
                                                            data-ng-click="selectInvoice(invoice)"></button>
                                                    <button type="button" data-ng-class="(invoice.Status=='draft') ? '' : 'disabled'"
                                                            class="btn btn-danger fa fa-trash-o"
                                                            data-ng-click="removeInvoice(invoice)"></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- Footer message toolbar -->
                                    <script type="text/ng-template" id="custom/pager">
                                        <div class="data-table-toolbar">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="pull-right">

                                                        <span class="paging-status">{{1+((params.page()-1)*params.count())}} - {{(params.data.length < params.count()) ? params.total() : (((params.page()-1)*params.count())+params.count()) }} of {{params.total()}}</span>

                                                        <div class="btn-group">
                                        <span ng-repeat="page in pages"
                                              ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                                              ng-show="page.type == 'prev' || page.type == 'next'"
                                              ng-switch="page.type">
                                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href=""
                                               class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
                                            <a ng-switch-when="next" ng-click="params.page(page.number)" href=""
                                               class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </script>
                                    <!-- End Footer message toolbar -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End div .table-responsive -->
                </div>
            </div>
        </div>
    </div>
</div>