<page-content-title title="Create/Update Company"></page-content-title>

<panel type="plain">
    <ros-form>
        <ros-field-set>
            <ros-field type="text" name="name" title="{{'Name' | translate}}" ng-model="company.Name" size="6"></ros-field>
            <ros-field type="text" name="phone" title="{{'Phone' | translate}}" ng-model="company.Phone" size="6"></ros-field>
        </ros-field-set>
        <ros-field-set>
            <ros-field type="text" name="mobile" title="{{'Mobile' | translate}}" ng-model="company.Mobile" size="6"></ros-field>
            <ros-field type="text" name="fax" title="{{'Fax' | translate}}" ng-model="company.Fax" size="6"></ros-field>
        </ros-field-set>
        <ros-field-set>
            <ros-field type="text" name="email" title="{{'Email' | translate}}" ng-model="company.Email" size="6"></ros-field>
            <ros-field type="text" name="address1" title="{{'Address' | translate}}" ng-model="company.Address1" size="6"></ros-field>
        </ros-field-set>
        <ros-field-set>
            <ros-field type="text" name="city" title="{{'City' | translate}}" ng-model="company.City" size="6"></ros-field>
            <ros-field type="text" name="zipCode" title="{{'Zip code' | translate}}" ng-model="company.ZipCode" size="6"></ros-field>
        </ros-field-set>
        <ros-field-set>
            <ros-field type="text" name="tax" title="{{'Tax (%)' | translate}}" ng-model="company.Tax" size="6"></ros-field>
            <ros-field type="text" name="taxId" title="{{'Tax ID' | translate}}" ng-model="company.TaxId" size="6"></ros-field>
        </ros-field-set>
        <ros-field-set>
            <ros-field type="select" name="state" title="{{'State' | translate}}" ng-model="company.State.Id" size="6" ng-options="state.Id as state.Name for state in states"></ros-field>
            <ros-field type="select" name="country" title="{{'Country' | translate}}" ng-model="company.Country.Iso" size="6" ng-options="country.Iso as country.Name for country in countries"></ros-field>
        </ros-field-set>
        <ros-field-set>
            <ros-field type="text" name="orderNumber" title="{{'Order Number' | translate}}" ng-model="company.OrderNumber" size="6"></ros-field>
        </ros-field-set>
        <ros-buttons>
            <a class="btn btn-primary" href="#/companies">{{'Cancel' | translate}}</a>
            <button class="btn btn-success ng-binding" data-ng-click="save()">{{'Save' | translate}}</button>
        </ros-buttons>
    </ros-form>
</panel>
