<div class="container" data-ng-controller="RegisterController">
<div id="RegisterWizardContainer" class="wizard">
<wizard data-hide-indicators="true">
<wz-step data-title="{{step.register1}}">
    <div class="full-content-center animated fadeInDownBig">
        <div class="panel-heading">
            <h4 class="panel-title text-center">
                <img src="/images/vertikal-logo-main.png" width="300px" alt="Vertikal logo">
            </h4>
        </div>

        <div class="login-wrap">
            <div class="box-info">
                <h2 class="text-center"><strong>Lets get started</strong></h2>

                <p style="text-align: center">Signing up for VertikalCould is fast and free - no commitments or
                    long term contracts. </p>

                <form role="form" name="registerForm" id="registerForm" class="form-horizontal group-border">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label for="firstName" class="control-label col-md-12">{{'First Name' |
                                    translate}}</label>

                                <div class="col-md-12">
                                    <input type="text" name="firstName" id="firstName" data-ng-model="user.FirstName"
                                           class="form-control text-input"
                                           placeholder="Name" validator="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label for="lastName" class="control-label col-md-12">{{'Last Name' |
                                    translate}}</label>

                                <div class="col-md-12">
                                    <input type="text" name="lastName" id="lastName" data-ng-model="user.LastName"
                                           class="form-control text-input"
                                           placeholder="Last Name" validator="required">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12" for="email">{{'Enter your email' |
                                    translate}}</label>

                                <div class="col-md-12">
                                    <input type="email" name="email" id="email" data-ng-model="user.Email"
                                           class="form-control text-input"
                                           placeholder="me@example.com" validator="required,email"
                                           ng-unique="{key: 'User', property: 'email',id: 0}">
                                    <span class="help-block" ng-show="form.email.$error.uniqueValue">Email is already taken.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12" for="confirmEmail">{{'Confirm your email' |
                                    translate}}</label>

                                <div class="col-md-12">
                                    <input type="email" name="confirmEmail" id="confirmEmail"
                                           data-ng-model="user.ConfirmEmail"
                                           class="form-control text-input"
                                           placeholder="me@example.com" validator="required,email">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12" for="password">{{'Create a password' |
                                    translate}}</label>

                                <div class="col-md-12">
                                    <input type="password" name="password" id="password" data-ng-model="user.Password"
                                           class="form-control text-input"
                                           placeholder="Password" validator="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12" for="confirmPassword">{{'Confirm your password' |
                                    translate}}</label>

                                <div class="col-md-12">
                                    <input type="password" name="confirmPassword" id="confirmPassword"
                                           data-ng-model="user.ConfirmPassword"
                                           class="form-control text-input"
                                           placeholder="Re-Password" validator="required" passwd-check="user.Password"
                                           password-match="user.ConfirmPassword">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style=" padding: 20px 0 20px 0;">
                        <div class="col-md-2  pull-left">
                            <a class="btn btn-default" href="#/login"> {{'Back to login' | translate}}</a>

                        </div>
                        <div class="col-md-2  pull-right">
                            <button class="btn btn-primary pull-right" data-ng-click="toStepTwo(registerForm)">
                                {{'Continue' |
                                translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</wz-step>
<wz-step data-title="{{step.register2}}">
    <div class="full-content-center animated fadeInDownBig">
        <div class="panel-heading">
            <h4 class="panel-title text-center">
                <img src="/images/vertikal-logo-main.png" width="300px" alt="Vertikal logo">
            </h4>
        </div>

        <div class="login-wrap">
            <div class="box-info">
                <h2 class="text-center"><strong>Tell us about your business</strong></h2>

                <p style="text-align: center">Signing up for Vertikal is fast and free - no commitments or
                    long term contracts. </p>
                <form role="form" name="register2Form" id="register2Form" class="form-horizontal group-border">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12">{{'Business Name' | translate}}</label>

                                <div class="col-md-12">
                                    <input type="text" id="companyName" name="companyName" data-ng-model="user.Company.Name" class="form-control text-input"
                                           placeholder="Name" validator="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12">{{'Employer Identification Number' |
                                    translate}}</label>

                                <div class="col-md-12">
                                    <input type="text" id="companyEmployerNumber" name="companyEmployerNumber" data-ng-model="user.Company.EmployerNumber"
                                           class="form-control text-input"
                                           placeholder="00-0000000">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12">{{'Industry' |
                                    translate}}</label>

                                <div class="col-md-12">
                                    <select class="form-control" id="companyIndustry" name="companyIndustry" data-ng-model="user.Company.Industry.Id"
                                            data-ng-options="industry.Id as industry.Description for industry in industries"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label for="companyCompanyScope" class="control-label col-md-12">{{'How do you plan to use Vertikal?' |
                                    translate}}</label>

                                <div class="col-md-12">
                                    <select id="companyCompanyScope" name="companyCompanyScope"  class="form-control"
                                            data-ng-model="user.Company.CompanyScope.Id"
                                            data-ng-options="companyScope.Id as companyScope.Name for companyScope in companyScopes"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group login-input">
                                <label for="companyLocationAddress" class="control-label col-md-12">{{'Address' |
                                    translate}}</label>

                                <div class="col-md-12">
                                    <input type="text" data-ng-model="user.Company.Location.Address"
                                           class="form-control text-input" id="companyLocationAddress" name="companyLocationAddress"
                                           placeholder="Street Address" validator="required">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group login-input">
                                    <input type="text" data-ng-model="user.Company.Location.Address1" id="companyLocationAddress1" name="companyLocationAddress1"
                                           class="form-control text-input"
                                           placeholder="Suite/Unit">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label for="companyLocationCity" class="control-label col-md-12">{{'City' | translate}}</label>

                                <div class="col-md-12">
                                    <input type="text" data-ng-model="user.Company.Location.City" id="companyLocationCity" name="companyLocationCity"
                                           class="form-control text-input"
                                           placeholder="City" validator="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label for="companyLocationState" class="control-label col-md-12">{{'State' | translate}}</label>
                                <div class="col-md-12">
                                <select class="form-control" data-ng-model="user.Company.Location.State.Id" id="companyLocationState" name="companyLocationState"
                                        data-ng-options="state.Id as state.Name for state in states"
                                        validator="required"></select>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label for="companyLocationZipCode" class="control-label col-md-12">{{'Zipcode' | translate}}</label>
                                <div class="col-md-12">
                                <input type="text" data-ng-model="user.Company.Location.ZipCode" id="companyLocationZipCode" name="companyLocationZipCode"
                                       class="form-control text-input"
                                       placeholder="Zipcode" validator="required">
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label for="DOB" class="control-label col-md-12">{{'DOB' | translate}}</label>
                                <div class="col-md-12">
                                <date-time-picker class="col-md-12" data-ng-model="user.DOB" id="DOB" name="DOB"
                                                  data-format="date" data-max-date="now"
                                                  validator="required"></date-time-picker>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label for="SSN" class="control-label col-md-12">{{'Last 4 digit of SSN' | translate}}</label>
                                <div class="col-md-12">
                                <input type="text" data-ng-model="user.SSN" class="form-control text-input" id="SSN" name="SSN"
                                       placeholder="SSN" validator="required">
                            </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label for="companyPhone" class="control-label col-md-12">{{'Phone' | translate}}</label>
                                <div class="col-md-12">
                                <input type="text" data-ng-model="user.Company.Phone" class="form-control text-input"id="companyPhone" name="companyPhone"
                                       placeholder="Phone" validator="required,phone">
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding: 20px 0 20px 0;">

                        <div class="col-md-2 pull-left">
                            <button class="btn btn-default" data-ng-click="toStepOne()">
                                {{'Back' | translate}}
                            </button>

                        </div>
                        <div class="col-md-2 pull-right">
                            <button class="btn btn-primary pull-right" data-ng-click="save(register2Form)">
                                {{'Finish' |
                                translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</wz-step>
</wizard>
</div>
</div>


<!-- Begin Register Page -->
