<div class="container" data-ng-controller="RegisterController">
<div id="RegisterWizardContainer" class="wizard">
<wizard data-hide-indicators="true">
<wz-step data-title="{{step.register1}}">
    <div class="full-content-center animated fadeInDownBig">
        <div class="panel-heading">
            <h4 class="panel-title text-center">
                <img src="/images/roster_850x300.png" width="300px" alt="Roster logo">
            </h4>
        </div>

        <div class="login-wrap">
            <div class="box-info">
                <h2 class="text-center"><strong>Lets get started</strong></h2>

                <p style="text-align: center">Signing up for Roster is fast and free - no commitments or
                    long term contracts. </p>

                <form role="form" class="form-horizontal group-border">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12">{{'First Name' | translate}}</label>

                                <div class="col-md-12">
                                    <input type="text" data-ng-model="user.FirstName" class="form-control text-input"
                                           placeholder="Name" validator="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12">{{'Last Name' | translate}}</label>

                                <div class="col-md-12">
                                    <input type="text" data-ng-model="user.LastName" class="form-control text-input"
                                           placeholder="Last Name" validator="required">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12">{{'Enter your email' | translate}}</label>

                                <div class="col-md-12">
                                    <input type="email" data-ng-model="user.Email" class="form-control text-input"
                                           placeholder="me@example.com" validator="required,email">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12">{{'Confirm your email' | translate}}</label>

                                <div class="col-md-12">
                                    <input type="email" data-ng-model="user.ConfirmEmail"
                                           class="form-control text-input"
                                           placeholder="me@example.com" validator="required,email">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12">{{'Create a password' | translate}}</label>

                                <div class="col-md-12">
                                    <input type="password" data-ng-model="user.Password"
                                           class="form-control text-input"
                                           placeholder="Password" validator="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label col-md-12">{{'Confirm your password' |
                                    translate}}</label>

                                <div class="col-md-12">
                                    <input type="password" data-ng-model="user.ConfirmPassword"
                                           class="form-control text-input"
                                           placeholder="Re-Password" validator="required" passwd-check="user.Password">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style=" padding: 20px 0 20px 0;">
                        <div class="col-md-2  pull-left">
                            <a class="btn btn-default" href="#/login"> {{'Back to
                                login' | translate}}</a>

                        </div>
                        <div class="col-md-2  pull-right">
                            <button class="btn btn-primary pull-right" data-ng-click="toStepTwo()">
                                {{'Continue' |
                                translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</wz-step>
<wz-step data-title="{{step.register2}}">
    <div class="full-content-center animated fadeInDownBig">
        <div class="panel-heading">
            <h4 class="panel-title text-center">
                <img src="/images/roster_850x300.png" width="300px" alt="Roster logo">
            </h4>
        </div>

        <div class="login-wrap">
            <div class="box-info">
                <h2 class="text-center"><strong>Tell us about your business</strong></h2>

                <p style="text-align: center">Signing up for Roster is fast and free - no commitments or
                    long term contracts. </p>

                <form role="form" class="form-horizontal group-border">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Business Name' | translate}}</label>
                                <input type="text" data-ng-model="user.Company.Name" class="form-control text-input"
                                       placeholder="Name" validator="required">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Employer Identification Number' |
                                    translate}}</label>
                                <input type="text" data-ng-model="user.Company.EmployerNumber"
                                       class="form-control text-input"
                                       placeholder="00-0000000">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Industry' |
                                    translate}}</label>
                                <select class="form-control" data-ng-model="user.Company.Industry.Id"
                                        data-ng-options="industry.Id as industry.Description for industry in industries"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'How do you plan to use Roster?' |
                                    translate}}</label>
                                <select id="company" class="form-control" data-ng-model="user.Company.CompanyScope.Id"
                                        data-ng-options="companyScope.Id as companyScope.Name for companyScope in companyScopes"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group login-input">
                                <label class="col-md-16 control-label">{{'Address' |
                                    translate}}</label>
                                <input type="text" data-ng-model="user.Company.Location.Address"
                                       class="form-control text-input"
                                       placeholder="Street Address" validator="required">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group login-input">
                                <input type="text" data-ng-model="user.Company.Location.Address1"
                                       class="form-control text-input"
                                       placeholder="Suite/Unit" validator="required">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label class="control-label">{{'City' | translate}}</label>
                                <input type="text" data-ng-model="user.Company.Location.City"
                                       class="form-control text-input"
                                       placeholder="City" validator="required">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label class="control-label">{{'State' | translate}}</label>
                                <select class="form-control" data-ng-model="user.Company.Location.State.Id"
                                        data-ng-options="state.Id as state.Name for state in states" validator="required"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Zipcode' | translate}}</label>
                                <input type="text" data-ng-model="user.Company.Location.ZipCode"
                                       class="form-control text-input"
                                       placeholder="Zipcode" validator="required">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label class="control-label">{{'DOB' | translate}}</label>
                                <date-time-picker class="col-md-12" data-ng-model="user.DOB"
                                                  data-format="date" data-max-date="now" validator="required"></date-time-picker>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Last 4 digit of SSN' | translate}}</label>
                                <input type="text" data-ng-model="user.SSN" class="form-control text-input"
                                       placeholder="SSN" validator="required">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Phone' | translate}}</label>
                                <input type="text" data-ng-model="user.Company.Phone" class="form-control text-input"
                                       placeholder="Phone" validator="required">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding: 20px 0 20px 0;">

                        <div class="col-md-2 pull-left">
                            <button class="btn btn-default" data-ng-click="toStepOne()">
                                {{'Back' | translate}}
                            </button>

                        </div>
                        <div class="col-md-2 pull-right">
                            <button class="btn btn-primary pull-right" data-ng-click="save()">
                                {{'Finish' |
                                translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</wz-step>
</wizard>
</div>
</div>


<!-- Begin Register Page -->
