<page-content-title title="Users">
    <!-- <a title="Add" class="btn btn-primary" href="#/users/create"><i class="fa fa-plus"> New</i></a>-->
     <a title="Add" data-ng-controller="UserListController" class="btn btn-primary" ng-click="showFormAdd()"><i class="fa fa-plus"> Add User</i></a>
 </page-content-title>

 <panel type="plain">
     <div class="row" data-ng-controller="UserListController">
         <div class="row">
             <div class="data-table-toolbar">
                 <div class="col-md-12">
                     <div class="col-md-5">
                         <form role="form" ng-submit="search(searchUser)">
                             <input type="text" data-ng-model="searchUser" class="form-control" placeholder="Search ..."/>
                         </form>
                     </div>
                     <div class="col-md-4">
                         <a data-toggle="tooltip" title="Refresh" class="btn btn-default"
                            data-ng-click="refresh()"><i
                                 class="fa fa-refresh"></i></a>
                     </div>
                     <!-- End div .col-sm-3 -->
                </div>
                <!-- End div .row -->
            </div>

        </div>
        <!-- End div .row -->
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-hover" data-ng-show="total > 0">
                    <table ng-table="userTable" class="table table-hover table-message" template-pagination="custom/pager">
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="10%"/>
                        <col width="10%"/>

                        <tr  class="items" data-ng-repeat="user in $data">
                            <td data-title="'First Name'" sortable="'fullName'" style="cursor:pointer;" ng-click="selectUser(user)"><span class="name">{{user.FirstName}}</span></td>
                            <td data-title="'Last Name'" sortable="'username'" style="cursor:pointer;" ng-click="selectUser(user)">{{user.LastName}}</td>
                            <td data-title="'Username'" sortable="'username'" style="cursor:pointer;" ng-click="selectUser(user)">{{user.Username}}</td>
                            <td data-title="'Group'" sortable="'group.Name'" style="cursor:pointer;" ng-click="selectUser(user)">{{user.Group.Name}}</td>
                            <td data-title="'Action'">
                                <a><span class="badge ng-scope" data-tooltip="Group" data-ng-click="showChangeGroup(user)"><i class="fa fa-users"></i></span></a>
                                <a><span class="badge ng-scope" data-tooltip="Remove" data-ng-click="removeUser(user)"><i class="fa fa-times"></i></span></a>
                                <button  class="btn btn-default" data-ng-model="user.IsActive" btn-checkbox data-ng-class="{'btn-primary': user.IsActive}" data-ng-click="setActive(user)">{{user.IsActive ? 'Active' : 'Inactive' }}</button>
                            </td>
                        </tr>
                    </table>
                    <!-- Footer message toolbar -->
                    <script type="text/ng-template" id="custom/pager">
                        <div class="data-table-toolbar">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="pull-right">

                                        <span class="paging-status">{{1+((params.page()-1)*params.count())}} - {{(params.data.length < params.count()) ? params.total() : (((params.page()-1)*params.count())+params.count()) }} of {{params.total()}}</span>

                                        <div class="btn-group">
                                        <span ng-repeat="page in pages"
                                              ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                                              ng-show="page.type == 'prev' || page.type == 'next'"
                                              ng-switch="page.type">
                                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href=""
                                               class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
                                            <a ng-switch-when="next" ng-click="params.page(page.number)" href=""
                                               class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </script>
                    <!-- End Footer message toolbar -->
                </div>
                <div class="panel-body">
                    <div data-ng-show="total == 0" class="well well-sm">{{'No Users Available.' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</panel>