<page-content-title title="Create/Update Notification"></page-content-title>
<panel type="plain">
    <form role="form" class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <input placeholder="{{'Recipients' | translate}}" data-ng-model="notification.owner"  type="text" class="form-control" validator="required" data-typeahead="user as user.fullName for user in searchUsers($viewValue)" data-typeahead-min-length="3" >
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <input placeholder="{{'Subject' | translate}}" data-ng-model="notification.category" type="text" class="form-control" validator="required" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea data-ng-model="notification.title" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row modal-footer" style="border-top:0px;">
            <div class="row col-md-4 pull-right">
                <button class="btn btn-primary ng-binding" data-ng-click="$close()">{{'Cancel' | translate}}</button>
                <button class="btn btn-success ng-binding" data-ng-click="save()">{{'Save' | translate}}</button>
            </div>
        </div>
    </form>
</panel>
