<aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs" ng-class="{'collapse-sidebar': ui.collapsed}">
    <!-- Start .sidebar-inner -->
    <div class="sidebar-inner">
        <!-- Start .sidebar-scrollarea -->
        <div class="sidebar-scrollarea">
            <!--  .sidebar-panel -->
            <div class="sidebar-panel">
                <h5 class="sidebar-panel-title">Profile</h5>
            </div>
            <!-- / .sidebar-panel -->
            <sidebar-user-info></sidebar-user-info>
            <!--  .sidebar-panel -->
            <div class="sidebar-panel">
                <h5 class="sidebar-panel-title">Navigation</h5>
            </div>
            <!-- / .sidebar-panel -->
            <!-- .side-nav -->
            <div class="side-nav">
                <ul class="nav">
                    <li>
                        <a href="#/dashboard"><i class="l-basic-accelerator"></i><span class="txt">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="#/notifications"><i class="l-music-bell"></i> <span class="txt">Notifications</span></a>
                    </li>
                    <li>
                        <a href="#/sales/index"><i class="l-banknote"></i><span class="txt">Sales</span></a>
                    </li>
                    <li>
                      <a href="#/customers"><i class="l-basic-geolocalize-01"></i><span class="txt">Customers</span></a>
                    </li>
                    <li>
                      <a href="#/vendors"><i class="l-ecommerce-cart"></i> <span class="txt">Vendors</span></a>
                    </li>
                    <!--<li>-->
                        <!--<a href="#/purchases"><i class="l-ecommerce-receipt"></i><span class="txt">Purchase History</span></a>-->
                    <!--</li>-->
                    <li>
                        <a href="#/purchases"><i class="l-software-layers2"></i><span class="txt">Purchase Orders</span></a>
                    </li>
                    <li>
                        <a href="#/products"><i class=" l-ecommerce-sales"></i><span class="txt">Products / Services</span></a>
                    </li>

                    <li>
                        <a href="#/users"><i class=" l-ecommerce-sales"></i><span class="txt">Users</span></a>
                    </li>

                    <!--<li>-->
                        <!--<a href="#/comissions"><i class="l-basic-webpage"></i><span class="txt">Commissions</span></a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#/reports"><i class="l-ecommerce-graph1"></i><span class="txt">Reports</span></a>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- / side-nav -->
            <!--  .sidebar-panel -->
            <div class="sidebar-panel">
                <h5 class="sidebar-panel-title">Administration</h5>
            </div>
            <!-- / .sidebar-panel -->
            <!-- .side-nav -->
            <div class="side-nav">
                <ul class="nav">
                    <!--<li>-->
                        <!--<a href="#/users"><i class="l-basic-webpage"></i><span class="txt">Staff</span></a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <!-- End .sidebar-scrollarea -->
    </div>
    <!-- End .sidebar-inner -->
</aside>
