<!-- Start login container -->
<div class="container login-container">
    <div class="login-panel panel panel-default plain animated bounceIn">
        <!-- Start .panel -->
        <div class="panel-heading">
            <h4 class="panel-title text-center">
                <img id="logo" src="/images/roster_850x300.png" width="300px" alt="Rooster logo">
            </h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal mt0" id="login-form" role="form" data-ng-submit="login(credentials)">
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group input-icon">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" name="username" id="username" class="form-control" value="" placeholder="Your username ..." data-ng-model="credentials.username">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group input-icon">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" name="password" id="password" class="form-control" value="" placeholder="Your password" data-ng-model="credentials.password">
                        </div>
                        <span class="help-block text-right"><a href="#">Forgot password ?</a></span>
                    </div>
                </div>
                <div class="form-group mb0">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                        <div class="checkbox-custom">
                            <input type="checkbox" name="remember" id="remember" value="option">
                            <label for="remember">Remember me ?</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                        <button class="btn btn-default pull-right" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer gray-lighter-bg bt">
            <h4 class="text-center"><strong>Don`t have an account ?</strong>
            </h4>
            <p class="text-center"><a href="#/register" class="btn btn-primary">Create account</a>
            </p>
        </div>
    </div>
    <!-- End .panel -->
</div>
<!-- End login container -->
<div class="container">
    <div class="footer">
        <p class="text-center">&copy;2015 Copyright S.A.M Systems. All right reserved</p>
    </div>
</div>