<li class="dropdown">
    <a href="#" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="sr-only">Notifications</span>
        <span class="badge badge-danger">{{notifications.length}}</span>
    </a>
    <ul class="dropdown-menu right dropdown-notification" role="menu">
        <li><a href="#" class="dropdown-menu-header">Notifications</a>
        </li>
        <li data-ng-repeat="notification in notifications">
            <a href="#/notifications/view/{{notification.getId()}}">
                <i data-ng-class="{'l-basic-mail': !notification.isRead()}"></i>
                <strong>{{notification.author.fullName}}</strong> {{notification.getCategory()}} <strong>&#34;{{notification.getTitle()}}&#34;</strong>
                <small>{{notification.getCreated() | timeElapsed }} ago</small>
            </a>
        </li>
        <li><a href="#/notifications" class="view-all">View all <i class="l-arrows-right"></i> </a>
        </li>
    </ul>
</li>