<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>inventory</title>

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../../../../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../../../bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../../../../bower_components/AngularJS-Toaster/toaster.css" />
    <link rel="stylesheet" href="../../../../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="../../../../bower_components/angular-dialog-service/dialogs.min.css" />
    <link rel="stylesheet" href="../../../../bower_components/ng-tags-input/ng-tags-input.min.css" />
    <link rel="stylesheet" href="../../../../bower_components/ng-img-crop/compile/minified/ng-img-crop.css" />
    <link rel="stylesheet" href="../../../../bower_components/ng-table/dist/ng-table.min.css" />
    <link rel="stylesheet" href="../../../../bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="../../../../bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="../../../../bower_components/sweetalert/lib/sweet-alert.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/style.css -->
    <link rel="stylesheet" href="src/components/angular-loading-bar/loading-bar.css" />
    <link rel="stylesheet" href="src/components/amitava82-angular-multiselect/src/style.css" />
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/style-responsive.css">
    <!-- endbuild -->
</head>
<body onload="window.print(); setTimeout(function(){ window.close(); }, 1);">
    {{content}}
</body>
</html>