<div class="container" data-ng-controller="RegisterController">
<div id="RegisterWizardContainer" class="wizard">
<wizard data-hide-indicators="true">
<wz-step data-title="{{step.register1}}">
    <div class="full-content-center animated fadeInDownBig">
        <div class="panel-heading">
            <h4 class="panel-title text-center">
                <img src="/images/roster_850x300.png" width="300px" alt="Roster logo">
            </h4>
        </div>

        <div class="login-wrap">
            <div class="box-info">
                <h2 class="text-center"><strong>Lets get started</strong></h2>

                <p style="text-align: center">Signing up for Roster is fast and free - no commitments or
                    long term contracts. </p>

                <form role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'First Name' | translate}}</label>
                                    <input type="text" data-ng-model="user.FirstName" class="form-control text-input"
                                           placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Last Name' | translate}}</label>
                                    <input type="text" data-ng-model="user.LastName" class="form-control text-input"
                                           placeholder="Last Name">
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Enter your email' |
                                    translate}}</label>

                                    <input type="email" data-ng-model="user.Email" class="form-control text-input"
                                           placeholder="me@example.com">
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Confirm your email' |
                                    translate}}</label>
                                    <input type="email" data-ng-model="user.ConfirmEmail"
                                           class="form-control text-input"
                                           placeholder="me@example.com">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Create a password' |
                                    translate}}</label>
                                    <input type="password" data-ng-model="user.Password"
                                           class="form-control text-input"
                                           placeholder="Password">
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Confirm your password' |
                                    translate}}</label>
                                    <input type="password" data-ng-model="user.ConfirmPassword"
                                           class="form-control text-input"
                                           placeholder="Re-Password">
                            </div>
                        </div>
                    </div>

                    <div class="row"
                         style="border-top: 1px solid #000; border-bottom: thin solid #000; padding: 20px 0 20px 0;">
                        <div class="col-md-2  pull-left">
                                <a class="btn btn-default" href="#/login" > {{'Back to
                                    login' | translate}}</a>

                        </div>
                        <div class="col-md-2  pull-right">
                            <button class="btn btn-primary" data-ng-click="toStepTwo()">
                                {{'Continue' |
                                translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</wz-step>
<wz-step data-title="{{step.register2}}">
    <div class="full-content-center animated fadeInDownBig">
        <div class="panel-heading">
            <h4 class="panel-title text-center">
                <img src="/images/roster_850x300.png" width="300px" alt="Roster logo">
            </h4>
        </div>

        <div class="login-wrap">
            <div class="box-info">
                <h2 class="text-center"><strong>Tell us about your business</strong></h2>

                <p style="text-align: center">Signing up for Roster is fast and free - no commitments or
                    long term contracts. </p>

                <form role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Business Name' | translate}}</label>
                                <input type="text" data-ng-model="user.BusinessName" class="form-control text-input"
                                       placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Employer Identification Number' |
                                    translate}}</label>
                                    <input type="text" data-ng-model="user.EmployerNumber"
                                           class="form-control text-input"
                                           placeholder="00-0000000">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Industry' |
                                    translate}}</label>
                                <select class="form-control" data-ng-model="user.Industry.Id" data-ng-options ="industry.Id as industry.Description for industry in industries"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group login-input">
                                <label class="control-label">{{'How do you plan to use Roster?' |
                                    translate}}</label>
                                <select id="company" class="form-control" data-ng-model="user.CompanyScope.Id" data-ng-options ="companyScope.Id as companyScope.Name for companyScope in companyScopes"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group login-input">
                                <label class="col-md-16 control-label">{{'Address' |
                                    translate}}</label>
                                <input type="text" data-ng-model="user.StreetAddress" class="form-control text-input"
                                       placeholder="Street Address">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group login-input">
                                <input type="text" data-ng-model="user.AptUnit" class="form-control text-input"
                                       placeholder="Apt/Unit">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label class="control-label">{{'City' | translate}}</label>
                                    <input type="text" data-ng-model="user.City" class="form-control text-input"
                                           placeholder="City">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label class="control-label">{{'State' | translate}}</label>
                                <select class="form-control" data-ng-model="user.State.Id" data-ng-options ="state.Id as state.Name for state in states"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Zipcode' | translate}}</label>
                                    <input type="text" data-ng-model="user.ZipCode" class="form-control text-input"
                                           placeholder="Zipcode">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label class="control-label">{{'DOB' | translate}}</label>
                                <date-time-picker class="col-md-12" data-ng-model="user.DOB"
                                                  data-format="date" data-max-date="now"></date-time-picker>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Last 4 digit of SSN' | translate}}</label>
                                    <input type="text" data-ng-model="user.SSN" class="form-control text-input"
                                           placeholder="SSN">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group login-input">
                                <label class="control-label">{{'Phone' | translate}}</label>
                                    <input type="text" data-ng-model="user.Phone" class="form-control text-input"
                                           placeholder="Phone">
                                </div>
                        </div>
                    </div>

                    <div class="row"
                         style="border-top: 1px solid #000; border-bottom: thin solid #000; padding: 20px 0 20px 0;">

                        <div class="col-md-2 pull-left">
                            <button class="btn btn-default" data-ng-click="toStepOne()">
                                {{'Back' | translate}}
                            </button>

                        </div>
                        <div class="col-md-2 pull-right">
                            <button class="btn btn-primary" data-ng-click="save()">
                                {{'Finish' |
                                translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</wz-step>
</wizard>
</div>
</div>


<!-- Begin Register Page -->
