<div class="user-info clearfix">
    <img src="images/no-photo.jpg" alt="avatar">
    <span class="name">{{user.getFirstName()}}</span>
    <!--<div class="btn-group">-->
        <!--<button type="button" class="btn btn-default btn-xs"><i class="l-basic-gear"></i></button>-->
        <!--<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">settings <span class="caret"></span></button>-->
        <!--<ul class="dropdown-menu right" role="menu">-->
            <!--<li>-->
                <!--<a href="#/profile"><i class="fa fa-edit"></i>Edit profile</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a href="#/login" ng-click="logout()"><i class="fa fa-power-off"></i>Logout</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
</div>