<page-content-title title="Dashboard" description="Welcome to Rooster. Today is: {{date | outputFormatDate}}">
    <div class="spark clearfix">
        <div class="spark-info"><span class="number">2345</span>Visitors</div>
        <div id="spark-visitors" class="sparkline"></div>
    </div>
    <div class="spark clearfix">
        <div class="spark-info"><span class="number">17345</span>Views</div>
        <div id="spark-templateviews" class="sparkline"></div>
    </div>
    <div class="spark clearfix">
        <div class="spark-info"><span class="number">3700$</span>Sales</div>
        <div id="spark-sales" class="sparkline"></div>
    </div>
</page-content-title>
<div class="row">
    <!-- .row -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <!-- .col-md-3 -->
        <panel title="Customers" type="info">
            <div class="progressbar-stats-1">
                <div class="stats">
                    <i class="l-ecommerce-cart-content"></i>
                    <div class="stats-number" data-from="0" data-to="76">{{dashboard.totalCustomers || 0}}</div>
                </div>
                <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                    <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="63"></div>
                </div>
                <div class="comparison">
                    <p class="mb0"><i class="fa fa-arrow-circle-o-up s20 mr5 pull-left"></i> 10% up from last month</p>
                </div>
            </div>
        </panel>
        <!-- End .panel -->
    </div>
    <!-- / .col-md-3 -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <!-- .col-md-3 -->
        <panel title="Shipped" type="success">
            <div class="progressbar-stats-1">
                <div class="stats">
                    <i class="l-basic-geolocalize-05"></i>
                    <div class="stats-number" data-from="0" data-to="2547">{{dashboard.totalShipped || 0}}</div>
                </div>
                <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                    <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="86"></div>
                </div>
                <div class="comparison">
                    <p class="mb0"><i class="fa fa-arrow-circle-o-up s20 mr5 pull-left"></i> 2% up from last month</p>
                </div>
            </div>
        </panel>
        <!-- End .panel -->
    </div>
    <!-- / .col-md-3 -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <!-- .col-md-3 -->
        <panel title="Orders" type="danger">
            <div class="progressbar-stats-1">
                <div class="stats">
                    <i class="l-basic-life-buoy"></i>
                    <div class="stats-number" data-from="0" data-to="78">{{dashboard.totalOrders || 0}}</div>
                </div>
                <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                    <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="35"></div>
                </div>
                <div class="comparison">
                    <p class="mb0"><i class="fa fa-arrow-circle-o-down s20 mr5 pull-left"></i> 2% down from last month</p>
                </div>
            </div>
        </panel>
        <!-- End .panel -->
    </div>
    <!-- / .col-md-3 -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <!-- .col-md-3 -->
        <panel title="Invoices">
            <div class="progressbar-stats-1 dark">
                <div class="stats">
                    <i class="l-banknote"></i>
                    <div class="stats-number money" data-from="0" data-to="24568">{{dashboard.totalInvoices || 0}}</div>
                </div>
                <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                    <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="55"></div>
                </div>
                <div class="comparison">
                    <p class="mb0"><i class="fa fa-arrow-circle-o-down s20 mr5 pull-left"></i> 1% down from last month</p>
                </div>
            </div>
        </panel>
        <!-- End .panel -->
    </div>
    <!-- / .col-md-3 -->
</div>
<!-- / .row -->
<div class="row">
    <!-- Start .row -->
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <!-- col-lg-8 start here -->
        <div class="col-lg-9 col-sm-9 col-xs-12 p0">
            <!-- col-lg-9 start here -->
            <panel title="Profit this month" icon-class="fa fa-dollar" type="plain">
                <div id="line-chart-payments" style="width: 100%; height:250px;"></div>
            </panel>
            <!-- End .panel -->
        </div>
        <!-- col-lg-9 end here -->
        <div class="col-lg-3 col-sm-3 col-xs-12 p0">
            <!-- col-lg-3 start here -->
            <div class="panel panel-default tile btlr0 bblr0" data-mh="payments">
                <!-- Start .panel -->
                <div class="panel-body">
                    <div class="spark clearfix">
                        <div class="spark-info mb0"><span class="number stats-number money s32" data-from="0" data-to="12857">0</span>
                        </div>
                        <div class="spark-info mtm5">Total income</div>
                    </div>
                    <div class="spark clearfix">
                        <div class="spark-info mb0"><span class="number stats-number money s32 color-gray-light" data-from="0" data-to="4578"></span>
                        </div>
                        <div class="sparkline spark-payments mt0"></div>
                        <div class="spark-info">Credit Card</div>
                    </div>
                    <div class="spark clearfix">
                        <div class="spark-info mb0"><span class="number stats-number money s32 color-gray-light" data-from="0" data-to="5241"></span>
                        </div>
                        <div class="sparkline spark-payments mt0"></div>
                        <div class="spark-info">Pay Pal</div>
                    </div>
                    <div class="db per100">
                        <a href="#" class="btn btn-info ml20 mt5">Details</a>
                    </div>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-3 end here -->
    </div>
    <!-- col-lg-8 end here -->
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <!-- col-lg-4 start here -->
        <panel title="Customer experience" icon-class="glyphicon glyphicon-use" type="plain">
            <div class="text-center">
                <div id="customer-exp" class="custom-progressbar blue" style="width:244px;height:244px;">
                    <div class="percent">80<span>%</span>
                    </div>
                    <div class="description">satisfaction</div>
                </div>
            </div>
        </panel>
        <!-- End .panel -->
    </div>
    <!-- col-lg-4 end here -->
</div>
<!-- End .row -->
<div class="row">
    <!-- Start .row -->
    <div class="col-lg-8 col-md-12">
        <!-- col-lg-8 start here -->
        <div class="row">
            <!-- Start .row -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- col-lg-6 start here -->
                <div class="col-lg-6 col-sm-6 p0">
                    <!-- col-lg-6 start here -->
                    <div class="panel tile panelRefresh">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title"></h4>
                        </div>
                        <div class="panel-body p0">
                            <div class="weather snow">
                                <div class="degree color-red">-5&deg;</div>
                                <div class="location pb15"><i class="l-basic-geolocalize-01"></i> Varna</div>
                                <div class="icon">
                                    <canvas id="weather-now" width="96" height="96"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- col-lg-6 end here -->
                <div class="col-lg-6 col-sm-6 p0">
                    <!-- col-lg-6 start here -->
                    <div class="panel tile btlr0 bblr0 mb0">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title"></h4>
                        </div>
                        <div class="panel-body p0">
                            <div class="row weather no-padding">
                                <!-- Start .row -->
                                <div class="col-md-5 col-sm-5 text-center red-bg">
                                    <canvas class="mt15" id="weather-monday" width="64" height="64"></canvas>
                                    <h5 class="uppercase strong color-white">Monday</h5>
                                </div>
                                <div class="col-md-7 col-sm-7 text-center">
                                    <div class="degree color-red">-2&deg;</div>
                                    <p class="text-muted uppercase s12">forecast</p>
                                </div>
                            </div>
                            <!-- End .row -->
                        </div>
                    </div>
                    <!-- End .panel -->
                    <div class="panel tile btlr0 bblr0 mb0">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title"></h4>
                        </div>
                        <div class="panel-body p0">
                            <div class="row weather no-padding">
                                <!-- Start .row -->
                                <div class="col-md-5 col-sm-5 text-center blue-bg">
                                    <canvas class="mt15" id="weather-tuesday" width="64" height="64"></canvas>
                                    <h5 class="uppercase strong color-white">Tuesday</h5>
                                </div>
                                <div class="col-md-7 col-sm-7 text-center">
                                    <div class="degree color-blue">0&deg;</div>
                                    <p class="text-muted uppercase s12">forecast</p>
                                </div>
                            </div>
                            <!-- End .row -->
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- col-lg-6 end here -->
            </div>
            <!-- col-lg-6 end here -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- col-lg-6 start here -->
                <div class="panel panel-default plain toggle panelClose panelRefresh">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="l-basic-target"></i> Montly Sales Goals</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <!-- Start .row -->
                            <div class="col-md-6">
                                <ul class="list-unstyled" style="margin-bottom:13px;">
                                    <li class="mb15">
                                        <p class="strong mb0">Shirts <span class="text-muted pull-right small">100 of 200 sold</span>
                                        </p>
                                        <div class="progress animated-bar progress-bar-sm flat mt0">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" data-transitiongoal="50"></div>
                                        </div>
                                    </li>
                                    <li class="mb15">
                                        <p class="strong mb0">Shoes <span class="text-muted pull-right small">150 of 200 sold</span>
                                        </p>
                                        <div class="progress animated-bar progress-bar-sm flat mt0">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="75"></div>
                                        </div>
                                    </li>
                                    <li class="mb15">
                                        <p class="strong mb0">Watches <span class="text-muted pull-right small">25 of 200 sold</span>
                                        </p>
                                        <div class="progress animated-bar progress-bar-sm flat mt0">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="12"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p class="strong mb0">Coats <span class="text-muted pull-right small">195 of 300 sold</span>
                                        </p>
                                        <div class="progress animated-bar progress-bar-sm flat mt0">
                                            <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="66"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center">
                                    <div id="sales-goal" class="custom-progressbar green pull-left mr15" style="width:150px;height:150px;">
                                        <div class="percent">470</div>
                                        <div class="description s14">of 900 sold</div>
                                    </div>
                                </div>
                                <div class="custom-progressbar-legend text-center">
                                    <p class="text-left"><span class="strong">65%</span> Sold</p>
                                    <p class="text-left"><span class="strong">35% </span> Left</p>
                                </div>
                            </div>
                        </div>
                        <!-- End .row -->
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-lg-6 end here -->
        </div>
        <!-- End .row -->
        <div class="row">
            <!-- Start .row -->
            <div class="col-lg-12">
                <!-- col-lg-12 start here -->
                <div class="col-lg-4 col-md-6 p0">
                    <!-- col-lg-4 start here -->
                    <div class="panel panel-default tile btrr0 bbrr0" data-mh="sales-locations">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Latest Sales</h4>
                        </div>
                        <div class="panel-body pt0">
                            <ul class="list-unstyled mb0">
                                <li class="mb5 pb5 bbdashed">
                                    <span class="strong">New Your:</span> order
                                    <span class="color-red">#345675</span> - 176$
                                </li>
                                <li class="mb5 pb5 bbdashed">
                                    <span class="strong">Vancuver:</span> order
                                    <span class="color-red">#345674</span> - 56$
                                </li>
                                <li class="mb5 pb5 bbdashed">
                                    <span class="strong">London:</span> order
                                    <span class="color-red">#345673</span> - 12$
                                </li>
                                <li class="mb5 pb5 bbdashed">
                                    <span class="strong">Barcelona:</span> order
                                    <span class="color-red">#345672</span> - 34$
                                </li>
                                <li class="mb5 pb5 bbdashed">
                                    <span class="strong">Moskva:</span> order
                                    <span class="color-red">#345671</span> - 15$
                                </li>
                                <li class="mb5 pb5">
                                    <span class="strong">Tokio:</span> order
                                    <span class="color-red">#345669</span> - 67$
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- col-lg-4 end here -->
                <div class="col-lg-8 col-md-6 p0">
                    <!-- col-lg-8 start here -->
                    <div class="panel panel-default plain panelRefresh btlr0 bblr0" data-mh="sales-locations">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa l-basic-geolocalize-01"></i> Last sales locations</h4>
                        </div>
                        <div class="panel-body p0">
                            <div id="world-map" style="width: 100%; height: 250px"></div>
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- col-lg-8 end here -->
            </div>
            <!-- col-lg-12 end here -->
        </div>
        <!-- End .row -->
    </div>
    <!-- col-lg-8 end here -->
    <div class="col-lg-4 col-md-12">
        <!-- col-lg-4 start here -->
        <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-comments"></i>Customer Comments</h4>
            </div>
            <div class="panel-body">

            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- col-lg-4 end here -->