<page-content-title title="{{Type | ucfirst}} {{TitleNumber}}">
    <div class="row" ng-show="Type == 'invoice'">
        <a title="Remove" class="btn btn-primary pull-left" href=""
           data-ng-click="removeInvoice(invoice)"> Receive Payment</a>
        <select style="width: 120px; margin-left: 10px" class="form-control pull-right" data-ng-model="invoice.Currency"
                data-ng-options="status.value as status.description for status in flagStatus">
        </select>
    </div>
    <div class="row" ng-show="Type == 'estimate'">
        <a title="Remove" class="btn btn-primary pull-left" href=""
           data-ng-click="removeInvoice(invoice)"> Copy to Invoice</a>
        <select style="width: 120px; margin-left: 10px" class="form-control pull-right" data-ng-model="invoice.Currency"
                data-ng-options="status.value as status.description for status in flagStatus">
        </select>
    </div>
</page-content-title>

<panel type="plain">
<form role="form" name="form" style="margin: 0 10px 0 10px" class="form-horizontal group-border">
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="customer" class="control-label col-md-12">{{'Customer' | translate}}:</label>

            <div class="col-md-12">
                <input id="customer" name="customer" data-ng-model="invoice.Customer" autocomplete="off"
                       data-typeahead="customer as customer.Name for customer in searchCustomers($viewValue)"
                       data-typeahead-min-length="3" type="text" class="form-control"
                       data-typeahead-on-select=updateBillingShipping(invoice.Customer) validator="required">
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label col-md-12" for="Emails">{{'Emails' | translate}}</label>

            <div class="col-md-12">
                <input data-ng-model="invoice.Emails" id="Emails" type="text"
                       class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label class="control-label col-md-12" for="ReferenceNumber">{{'Reference' | translate}}</label>

            <div class="col-md-12">
                <input data-ng-model="invoice.ReferenceNumber" id="ReferenceNumber" name="ReferenceNumber" type="text"
                       class="form-control" validator="number">
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-12" for="Currency">{{'Currency' | translate}}</label>

                    <div class="col-md-12">
                        <select class="form-control" id="Currency" name="Currency" data-ng-model="invoice.Currency"
                                data-ng-options="currency.value as currency.description for currency in currencies"
                                validator="required">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-12">{{'Date' | translate}}</label>

                    <div class="col-md-12">
                        <date-time-picker class="col-md-12" data-ng-model="invoice.Date" validator="required"
                                          name="date" id="date"
                                          data-format="date" data-max-date="now"></date-time-picker>
                        <!--<input value="{{invoice.Date | outputFormatDate }}" output-format-date ng-if="!visible" readonly type="text"-->
                        <!--class="form-control"/>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-12">{{'Due Date' | translate}}</label>

                    <div class="col-md-12">
                        <date-time-picker class="col-md-12" data-ng-model="invoice.DeliveryDate" validator="required"
                                          name="dueDate" id="dueDate"
                                          data-format="date"></date-time-picker>
                        <!--<input value="{{invoice.DeliveryDate | outputFormatDate }}" ng-if="!visible" readonly type="text"-->
                        <!--class="form-control"/>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width: 5%">No.</th>
            <th style="width: 20%">Item</th>
            <th style="width: 30%">Description</th>
            <th style="width: 5%">Qty</th>
            <th style="width: 10%">Unit Price</th>
            <!--<th style="width: 10%">Disc %</th>-->
            <th colspan="2" style="width: 10%">Amount USD</th>
        </tr>
        </thead>
        <tbody>

        <tr data-ng-repeat="item in invoice.itemProducts">
            <td>{{$last ? '*' : $index + 1}}</td>
            <td>
                <input data-ng-model="item.Product.Name"
                       autocomplete="off"
                       data-typeahead="product as product.Name for product in searchProducts($viewValue)"
                       data-typeahead-min-length="3"
                       data-typeahead-on-select="addItem($item, $index)"
                       type="text"/>
            </td>
            <td><input type="text" data-ng-model="item.Product.Description"/></td>
            <td><input type="text" style="width: 50px" data-ng-model="item.Quantity"/></td>
            <td><input type="text" data-ng-model="item.Product.Price"/></td>
            <!--<td><input type="text" data-ng-model="product.DiscountPrice"/></td>-->
            <td>{{getAmount(item) | currency: 'USD'}}</td>
            <td>
                <button type="button" class="btn btn-danger fa fa-trash-o" data-ng-click="removeProduct(product)"
                        data-ng-show="!$last"></button>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <button class="btn btn-default" data-ng-click="addProduct($index)">{{'Add' | translate}}</button>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="no-border"></td>
            <td>Subtoal</td>
            <td colspan="2">{{total | currency: 'USD'}}</td>
        </tr>
        <tr>
            <td colspan="5" class="no-border"></td>
            <td>Tax ({{invoice.Tax}}%)</td>
            <td colspan="2"><input style="width: 50px" type="text" data-ng-model="invoice.TotalTax"/></td>
        </tr>
        <tr>
            <td colspan="5" class="no-border"></td>
            <td><h3><b>Total</b></h3></td>
            <td colspan="2"><h3>{{getTotal() | currency: 'USD'}}</h3></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row" style="margin-top: 30px">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="billingLocationAAddress" class="col-md-12">{{'Billing Address' |
                        translate}}:</label>

                    <div class="col-md-12">
                        <input id="billingAddress" name="billingAddress" data-ng-model="invoice.BillingLocation.Address" type="text"
                               name="billingLocationAAddress" id="billingLocationAAddress"
                               validator="required" class="form-control" placeholder="Street">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <input id="billingAddress1" name="billingAddress1" data-ng-model="invoice.BillingLocation.Address1" type="text"
                               class="form-control" placeholder="Apt/suite">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-12">
                        <input id="billingCity" name="billingCity" data-ng-model="invoice.BillingLocation.City" type="text"
                               validator="required" class="form-control" placeholder="City">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-12">
                        <select id="billingState" name="billingState" class="form-control" data-ng-model="invoice.BillingLocation.State.Id"
                                validator="required" data-ng-options="state.Id as state.Name for state in states"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-12">
                        <input id="billingZipcode" name="billingZipcode" data-ng-model="invoice.BillingLocation.Zipcode" type="text"
                               class="form-control" validator="required" placeholder="Zipcode">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-8" for="shippingAddress">{{'Shipping Address' |
                        translate}}:</label>

                    <div class="pull-right">
                        <input id="CheckboxShipping" type="checkbox" ng-change="BillShip()"
                               data-ng-model="invoice.BillShip" name="locked" value="1">
                        <label style="margin-left: 10px" class="control-label">{{'Same As billing' |
                            translate}}</label>
                    </div>
                    <div class="col-md-12">
                        <input id="shippingAddress" name="shippingAddress" data-ng-model="invoice.ShippingLocation.Address" type="text"
                               class="form-control" validator="required" placeholder="Street">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <input id="shippingAddress1" name="shippingAddress1" data-ng-model="invoice.ShippingLocation.Address1" type="text"
                               class="form-control" placeholder="Apt/suite">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-12">
                        <input id="shippingCity" name="shippingCity" data-ng-model="invoice.ShippingLocation.City" type="text"
                               class="form-control" validator="required" placeholder="City">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-12">
                        <select id="shippingState" name="shippingState" class="form-control"
                                data-ng-model="invoice.ShippingLocation.State.Id"
                                validator="required" data-ng-options="state.Id as state.Name for state in states"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-12">
                        <input id="shippingZipcode" name="shippingZipcode" data-ng-model="invoice.ShippingLocation.Zipcode" type="text"
                               class="form-control" validator="required" placeholder="Zipcode">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-12" for="DeliveryInstruction">{{'Memo Notes' |
                translate}}:</label>

            <div class="col-md-12">
                <textarea data-ng-model="invoice.DeliveryInstruction" id="DeliveryInstruction"
                          class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row modal-footer" style="border-top:0px;">
    <div class="row col-md-4 pull-right">
        <a class="btn btn-primary" href="#/sales/index">{{'Cancel' | translate}}</a>
        <button class="btn btn-success ng-binding" data-ng-click="save(form)">{{'Save' | translate}}</button>
    </div>
</div>
</form>
</panel>
