<page-content-title title="Customer Detail">
    <a title="Add" class="btn btn-default" href="#/customers"><i class="fa fa-plus"> Back to list</i></a>
</page-content-title>
<panel type="plain">
<div class="row">
<div class="box-info">
<div class="row" style="margin: 20px 0 0 18px">
    <div class="pull-right">
        <p class="text-right"><strong>{{customer.Created | outputFormatDateTime }}</strong></p>
    </div>
    <div class="pull-left">
        <a class="btn btn-danger btn-sm" data-ng-click="removeCustomer(customer)"><i class="fa fa-trash-o"></i> {{'Remove' |
            translate}}</a>
        <a href="#/customers" class="btn btn-primary btn-sm"> {{'Back' | translate}}</a>
    </div>
</div>
<div style="margin: 20px 0 0 18px">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">{{'Display Name' | translate}}:</label>
                {{customer.Name}}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'Company Name' | translate}}:</label>
                        {{customer.CompanyName}}

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'Account Number/License Id' | translate}}:</label>
                        {{customer.AccountNumber}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-md-offset-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{{'Phone' | translate}}:</label>
                        {{customer.Phone}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class=" control-label">{{'Mobile' | translate}}:</label>
                        {{customer.Mobile}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{{'Fax' | translate}}:</label>
                        {{customer.Fax}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">{{'Website' | translate}}:</label>
                        {{customer.WebSite}}
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row" style="margin: 40px 0px 40px 0px">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'Billing Address' | translate}}:</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'Street' | translate}}:</label>
                        {{customer.BillingLocation.Address}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'Apt/suite' | translate}}:</label>
                        {{customer.BillingLocation.Address1}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{{'City' | translate}}:</label>
                        {{customer.BillingLocation.City}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{{'State' | translate}}:</label>
                        {{customer.BillingLocation.State.Name}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{{'Zipcode' | translate}}:</label>
                        {{customer.BillingLocation.Zipcode}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'Shipping Address' | translate}}:</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'Street' | translate}}:</label>
                        {{customer.ShippingLocation.Address}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'Apt/suite' | translate}}:</label>
                        {{customer.ShippingLocation.Address1}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{{'City' | translate}}:</label>
                        {{customer.ShippingLocation.City}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{{'State' | translate}}:</label>
                        {{customer.ShippingLocation.State.Name}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{{'Zipcode' | translate}}:</label>
                        {{customer.ShippingLocation.Zipcode}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <div data-ng-show="customer.IsTaxable == true">
                    <label class="control-label">{{'Is Taxable' | translate}}:</label>
                    Yes
                </div>
                <div data-ng-show="customer.IsTaxable == false">
                    <label class="control-label">{{'Is Taxable' | translate}}:</label>
                    No
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">{{'Tax' | translate}}:</label>
                {{customer.Tax}}
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">{{'Discount' | translate}}:</label>
                {{customer.Discount}}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">{{'Batch Payments' | translate}}:</label>
                {{customer.BankAccountName}}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">{{'Bank Account' | translate}}:</label>
                {{customer.BankAccount}}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">{{'Details' | translate}}:</label>
                {{customer.BatchPaymentsDetails}}
            </div>
        </div>
    </div>
</div>
<div class="table-responsive" ng-show="customer.contacts.length > 0" style="margin: 20px 0 0 18px">
    <p><strong>Contacts:</strong></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width: 15%">First Name</th>
            <th style="width: 15%">Last Name</th>
            <th style="width: 10%">Email</th>
            <th style="width: 10%">Phone</th>
            <!--  <th style="width: 15%">Photo</th> -->
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="contact in customer.contacts">
            <td style="cursor:pointer;">
                {{contact.Name}}
            </td>
            <td style="cursor:pointer;">
                {{contact.LastName}}
            </td>
            <td style="cursor:pointer;">
                {{contact.Email}}
            </td>
            <td style="cursor:pointer;">
                {{contact.Phone}}
            </td>
            <!--    <td style="cursor:pointer;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="inner">
                                <a class="zooming" ng-click="downloadDocument(contact.document)" title="">
                                    <div class="img-wrap" style="height: 232px; width: 307px;"
                                         ng-show="contact.document.id">
                                        <img ng-src="data:{{contact.document.file.mime}};base64,{{contact.document.file.base64}}"
                                             alt="" class="mfp-fade">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </td> -->
        </tr>

        </tbody>
    </table>
</div>
</div>
</div>
</div>
</panel>
