<page-content-title title="Customer Detail">
    <a title="Add" class="btn btn-default" href="#/customers"><i class="fa fa-plus"> Back to list</i></a>
</page-content-title>
<panel type="plain">
<div class="row">
    <div class="box-info">
        <p class="text-right"><strong>{{customer.Created | outputFormatDateTime }}</strong></p>

        <div>
            <table class="table">
                <tbody>
                <tr>
                    <td colspan="2">
                        <a class="btn btn-danger btn-sm" data-ng-click="removeCustomer(customer)"><i class="fa fa-trash-o"></i> {{'Remove' | translate}}</a>
                        <a href="#/customers" class="btn btn-primary btn-sm"> {{'Back' | translate}}</a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;"><strong>Name</strong></td>
                    <td>{{customer.Name}}</td>
                </tr>
                <tr>
                    <td><strong>Phone</strong></td>
                    <td>{{customer.Phone}}</td>
                </tr>
                <tr>
                    <td><strong>Mobile</strong></td>
                    <td>{{customer.Mobile}}</td>
                </tr>
                <tr>
                    <td><strong>Fax</strong></td>
                    <td>{{customer.Fax}}</td>
                </tr>
                <tr>
                    <td><strong>Company Name</strong></td>
                    <td>{{customer.CompanyName}}</td>
                </tr>
                <tr>
                    <td><strong>Web Site</strong></td>
                    <td>{{customer.WebSite}}</td>
                </tr>
                <tr>
                    <td><strong>Account Number</strong></td>
                    <td>{{customer.AccountNumber}}</td>
                </tr>
                <tr>
                    <td><strong>Billing Address -- Street</strong></td>
                    <td>{{customer.BillingLocation.Address}}</td>
                </tr>
                <tr>
                    <td><strong>Apt/suite</strong></td>
                    <td>{{customer.BillingLocation.Address1}}</td>
                </tr>
                <tr>
                    <td><strong>City</strong></td>
                    <td>{{customer.BillingLocation.City}}</td>
                </tr>
                <tr>
                    <td><strong>State</strong></td>
                    <td>{{customer.BillingLocation.State.Name}}</td>
                </tr>
                <tr>
                    <td><strong>Zipcode</strong></td>
                    <td>{{customer.BillingLocation.Zipcode}}</td>
                </tr>
                <tr>
                    <td><strong>Shipping Address -- Street</strong></td>
                    <td>{{customer.ShippingLocation.Address}}</td>
                </tr>
                <tr>
                    <td><strong>Apt/suite</strong></td>
                    <td>{{customer.ShippingLocation.Address1}}</td>
                </tr>
                <tr>
                    <td><strong>City</strong></td>
                    <td>{{customer.ShippingLocation.City}}</td>
                </tr>
                <tr>
                    <td><strong>State</strong></td>
                    <td>{{customer.ShippingLocation.State.Name}}</td>
                </tr>
                <tr>
                    <td><strong>Zipcode</strong></td>
                    <td>{{customer.ShippingLocation.Zipcode}}</td>
                </tr>
                <tr>
                    <td><strong>Tax Id</strong></td>
                    <td>{{customer.TaxId}}</td>
                </tr>
                <tr>
                    <td><strong>Bank Account</strong></td>
                    <td>{{customer.BankAccount}}</td>
                </tr>
                <tr>
                    <td><strong>Bank Account Name</strong></td>
                    <td>{{customer.BankAccountName}}</td>
                </tr>
                <tr>
                    <td><strong>Details</strong></td>
                    <td>{{customer.BatchPaymentsDetail}}</td>
                </tr>
                </tbody>
            </table>

            <div class="table-responsive" ng-show="contacts.length > 0" style="margin: 20px 0 0 18px">
                <p><strong>Contacts:</strong></p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width: 15%">First Name</th>
                        <th style="width: 15%">Last Name</th>
                        <th style="width: 10%">Phone</th>
                        <th style="width: 10%">Email</th>
                        <th style="width: 15%">Photo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="contact in contacts">
                        <td style="cursor:pointer;">
                            {{contact.name}}
                        </td>
                        <td style="cursor:pointer;">
                            {{contact.last_name}}
                        </td>
                        <td style="cursor:pointer;">
                            {{contact.phone}}
                        </td>
                        <td style="cursor:pointer;">
                            {{contact.email}}
                        </td>
                        <td style="cursor:pointer;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="inner">
                                        <a class="zooming" ng-click="downloadDocument(contact.document)" title="">
                                            <div class="img-wrap" style="height: 232px; width: 307px;"
                                                 ng-show="contact.document.id">
                                                <img ng-src="data:{{contact.document.file.mime}};base64,{{contact.document.file.base64}}"
                                                     alt="" class="mfp-fade">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</panel>
