<page-content-title title="Create/Update Company"></page-content-title>

<panel type="plain">
    <tabset>
        <tab heading="{{'Summary' | translate }}">
            <div class="animated active fadeInRight">
                <div class="row">
                    <div class="col-md-12" data-ng-controller="CustomerFormController">
                        <form role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name" class="col-md-12 control-label">{{'Name' | translate}}:</label>

                                        <div class="col-md-12">
                                            <input id="name" data-ng-model="customer.Name" type="text"
                                                   class="form-control" validator="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="phone">{{'Phone' | translate}}:</label>

                                        <div class="col-md-12">
                                            <input id="phone" data-ng-model="customer.Phone" type="text"
                                                   class="form-control" validator="required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="mobile" class="col-md-12 control-label">{{'Mobile' |
                                            translate}}:</label>

                                        <div class="col-md-12">
                                            <input id="mobile" data-ng-model="customer.Mobile" type="text"
                                                   class="form-control" validator="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="fax">{{'Fax' | translate}}:</label>

                                        <div class="col-md-12">
                                            <input id="fax" data-ng-model="customer.Fax" type="text"
                                                   class="form-control" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email" class="col-md-12 control-label">{{'Email' |
                                            translate}}:</label>

                                        <div class="col-md-12">
                                            <input id="email" data-ng-model="customer.Email" type="text"
                                                   class="form-control"  validator="required,email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="address">{{'Address' |
                                            translate}}:</label>

                                        <div class="col-md-12">
                                            <input id="address" data-ng-model="customer.Address" type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="city" class="col-md-12 control-label">{{'City' |
                                            translate}}:</label>

                                        <div class="col-md-12">
                                            <input id="city" data-ng-model="customer.City" type="text"
                                                   class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="zipcode">{{'Zip code' |
                                            translate}}:</label>

                                        <div class="col-md-12">
                                            <input id="zipcode" data-ng-model="customer.Zipcode" type="text"
                                                   class="form-control" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="state" class="col-md-12 control-label">{{'State' |
                                            translate}}:</label>

                                        <div class="col-md-12">
                                            <select id="state" class="form-control" data-ng-model="customer.State.Id"
                                                    data-ng-options="state.Id as state.Name for state in states"
                                                    ></select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="country">{{'Country' |
                                            translate}}:</label>

                                        <div class="col-md-12">
                                            <select id="country" class="form-control"
                                                    data-ng-model="customer.Country.Iso"
                                                    data-ng-options="country.Iso as country.Name for country in countries"
                                                    ></select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row modal-footer" style="border-top:0px;">
                                <div class="row col-md-4 pull-right">
                                    <a class="btn btn-primary" href="#/customers">{{'Cancel' | translate}}</a>
                                    <button class="btn btn-success ng-binding" data-ng-click="save()">{{'Save' | translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </tab>
        <tab heading="{{'Contacts' | translate }}">
            <div class="scroll-user-widget">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-info">
                            <div class="row">
                                <ng-include data-ng-if="customer.id"
                                            src="'/src/modules/contact/views/index.html'"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>

    </tabset>
</panel>
