<page-content-title title="Customers"></page-content-title>
<div class="box-info">
    <div data-ng-controller="CustomerController">
        <wizard data-hide-indicators="true">
            <wz-step data-title="{{step.list}}">
                <ng-include src="'/src/modules/customer/views/list.html'"></ng-include>
            </wz-step>
            <wz-step data-title="{{step.form}}">
                <ng-include src="'/src/modules/customer/views/form.html'"></ng-include>
            </wz-step>
        </wizard>
    </div>
</div>