<!-- Page header -->
<div class="page-heading animated fadeInDownBig">
    <h1>Project Detail </h1>
</div>
<!-- End page header -->
<div class="row">
    <div class="col-sm-4">
        <div class="box-info">
            <!-- User profile avatar, name and location -->
            <div class="user-profile-sidebar">
                <h2>{{project.name}}

                </h2>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{project.status}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.progress}}%">
                        <span class="sr-only">{{project.status}}% Complete (success)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="inner">
                            <div class="img-wrap">
                                <img ng-src="data:{{project.documents[0].file.mime}};base64,{{project.documents[0].file.base64}}" alt="" class="mfp-fade">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End div .user-profile-sidebar -->

            <!-- Account status -->
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <h5><strong>ASSIGNED TO</strong></h5>
                        <p>{{project.owner.fullName}}</p>
                        <p data-ng-if="!project.owner">{{ 'Not assigned yet.' | translate }}</p>
                    </div>
                </div>
            </div><!-- End div .account-status-data -->

            <!-- Account status -->
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <h5><strong>ABOUT</strong></h5>
                        <p>{{project.description}}</p>
                    </div>
                </div>
            </div><!-- End div .account-status-data -->

            <h5>SHARE</h5>
            <!-- Social icon -->
            <div id="social">
                <a href="#fakelink" data-toggle="tooltip" title="Facebook">
                                        <span class="fa-stack fa-lg">
                                          <i class="fa fa-circle facebook fa-stack-2x"></i>
                                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                </a>
                <a href="#fakelink" data-toggle="tooltip" title="Twitter">
                                        <span class="fa-stack fa-lg">
                                          <i class="fa fa-circle twitter fa-stack-2x"></i>
                                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                </a>
                <a href="#fakelink" data-toggle="tooltip" title="Google Plus">
                                        <span class="fa-stack fa-lg">
                                          <i class="fa fa-circle gplus fa-stack-2x"></i>
                                          <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                </a>
            </div><!-- End div #social -->
        </div><!-- End div .box-info -->
    </div><!-- End div .col-sm-4 -->

    <div class="col-sm-8">
        <div class="box-info full">
            <tabset>
                <tab heading="{{'Summary' | translate }}">
                    <div class="user-profile-content animated active fadeInRight">
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form">
                                    <div class="form-group">
                                         <textarea class="form-control" data-ng-model="note.description" validator="required" style="height: 50px;" placeholder="Write a note..."></textarea>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary ng-binding" data-ng-click="save()">{{'Save' | translate}}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-info">
                                    <h4>Notes</h4>
                                    <hr>
                                    <div data-ng-if="!notes.length">
                                        <div><p class="text-center">{{'No notes available.' | translate}}</p></div>
                                    </div>
                                    <blockquote data-ng-repeat="note in notes">
                                        <p>{{note.description}}</p>
                                        <small>Entered By <cite title="Source Title">{{note.creator.fullName}}</cite> at {{note.created | outputFormatDateTime}}</small>
                                    </blockquote>

                                    <h4>Documents</h4>
                                    <hr>
                                    <div data-ng-if="!project.documents.length" class="column-4">
                                        <div><p class="text-center">{{'No documents available.' | translate}}</p></div>
                                    </div>

                                    <div class="gallery-wrap">
                                        <div data-ng-if="project.documents.length > 0" class="column-4" data-ng-repeat="document in project.documents">
                                            <div class="inner">
                                                <a class="zooming" ng-click="downloadDocument(document)"  title="">
                                                    <div class="img-wrap">
                                                        <img ng-src="data:{{document.file.mime}};base64,{{document.file.base64}}" alt="" class="mfp-fade">
                                                    </div>
                                                    <div class="caption-static">
                                                        {{document.name}}
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{{'Gallery' | translate }}">
                    <div class="scroll-user-widget">
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form">
                                    <input type="file" class="btn  form-control" data-ng-file-select="onFileSelect($files)" />
                                </form>
                                <div class="box-info">
                                    <div data-ng-if="!project.documents.length">
                                        <div><p class="text-center">{{'No documents available.' | translate}}</p></div>
                                    </div>
                                    <div class="gallery-wrap">
                                        <div data-ng-if="project.documents.length > 0" class="column-4" data-ng-repeat="document in project.documents">
                                            <div class="inner">
                                                <a class="zooming" ng-click="downloadDocument(document)"  title="">
                                                    <div class="img-wrap">
                                                        <img ng-src="data:{{document.file.mime}};base64,{{document.file.base64}}" alt="" class="mfp-fade">
                                                    </div>
                                                    <div class="caption-static">
                                                        {{document.name}}
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End div .scroll-user-widget -->
                </tab>
            </tabset>
        </div><!-- End div .box-info -->
    </div><!-- End div .col-sm-8 -->
</div><!-- End div .row -->