<page-content-title title="Product Detail">
    <a title="Add" class="btn btn-default" href="#/companies"><i class="fa fa-plus"> Back to list</i></a>
</page-content-title>
<panel type="plain">
    <div class="row">
        <div class="box-info">
            <p class="text-right"><strong>{{product.created | outputFormatDateTime }}</strong></p>
            <div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <a class="btn btn-danger btn-sm" data-ng-click="removeProduct(product)"><i class="fa fa-trash-o"></i> {{'Remove' | translate}}</a>
                            <a href="#/products" class="btn btn-primary btn-sm"> {{'Back' | translate}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;"><strong>Name</strong></td>
                        <td>{{product.getName()}}</td>
                    </tr>
                    <tr>
                        <td><strong>Price</strong></td>
                        <td>{{product.getPrice()}}</td>
                    </tr>
                    <tr>
                        <td><strong>Serial</strong></td>
                        <td>{{product.getSerial()}}</td>
                    </tr>
                    <tr>
                        <td><strong>Size</strong></td>
                        <td>{{product.getSize()}}</td>
                    </tr>
                    <tr>
                        <td><strong>Sku</strong></td>
                        <td>{{product.getSku()}}</td>
                    </tr>
                    <tr>
                        <td><strong>Status</strong></td>
                        <td>
                            <div class="btn-group">
                                <button type="button" data-ng-if="product.getStatus()==1" class="btn btn-success fa">Active</button>
                                <button type="button" data-ng-if="product.getStatus()==2" class="btn btn-default fa">Inactive</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Stock</strong></td>
                        <td>{{product.getStock()}}</td>
                    </tr>
                    <tr>
                        <td><strong>Manufacturer</strong></td>
                        <td>{{product.getManufacturer()}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</panel>
