<page-content-title title="Product Detail">
    <a title="Add" class="btn btn-default" href="#/companies"><i class="fa fa-plus"> Back to list</i></a>
</page-content-title>
<panel type="plain">
    <div class="row">
        <div class="box-info">
            <p class="text-right"><strong>{{product.created | outputFormatDateTime }}</strong></p>
            <div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <a class="btn btn-danger btn-sm" data-ng-click="removeProduct(product)"><i class="fa fa-trash-o"></i> {{'Remove' | translate}}</a>
                            <a href="#/products" class="btn btn-primary btn-sm"> {{'Back' | translate}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>{{product.getName()}}</td>
                        <td><strong>Category</strong></td>
                        <td>{{product.getCategory() == 1 ? 'Product' : 'Service'}}</td>
                        <td><strong>Stock</strong></td>
                        <td>{{product.getStock()}}</td>
                    <tr>
                    <tr data-ng-show="product.Purchasable">
                        <td><strong>Cost</strong></td>
                        <td>{{product.getCost()}}</td>
                        <td><strong> Purchase Account</strong></td>
                        <td>{{product.PurchaseAccount.Name}}</td>
                        <td><strong>Purchase Description</strong></td>
                        <td>{{product.getPurchaseDescription()}}</td>
                    </tr>
                    <tr data-ng-show="product.Salable">
                        <td><strong>Price</strong></td>
                        <td>{{product.getPrice()}}</td>
                        <td><strong>Sales Account</strong></td>
                        <td>{{product.SaleAccount.Name}}</td>
                        <td><strong>Sales Description</strong></td>
                        <td>{{product.getSaleDescription()}}</td>
                    </tr>
                </table>
                <table class="table table-hover" data-ng-show="product.variations.length">
                    <thead>
                    <tr>
                        <th style="width: 35%">Variation</th>
                        <th style="width: 15%">Code/Sku</th>
                        <th style="width: 10%"> Stock</th>
                        <th style="width: 5%">Alert</th>
                        <th style="width: 10%">Alert At</th>
                        <th style="width: 20%">Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="variation in product.variations">
                        <td>{{variation.Variation}}</td>
                        <td>{{variation.Sku}}</td>
                        <td>{{variation.Stock}}</td>
                        <td>{{variation.Alert}}</td>
                        <td>{{variation.AlertAt}}</td>
                        <td>{{variation.Location.Name}}</td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</panel>
